
BODY { margin: 10px; 
       padding: 10px; 
       font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;
       font-size: 1em;
       }

h1 { margin-bottom: 2px; display: inline;}

h2 { font-size: 3em;
     display: inline; 
     margin-left: 12px;
     padding-left: 12px;
     color: white;
     }

#pied div { float: left; 
            padding: 10px;
            width: 360px;            
}

#pied div.copy ul { 
                    padding-right: 10px;
                    border-right: 1px solid black;
}

#pied div.copy ul ul { 
                    border-right: none;
}

#pied ul { 
           list-style-type: none; 
           }

#pied div a { text-decoration: none; 
              font-size: 1.2em;}

#pied div a { text-decoration: none; }
